@font-face {
    font-family: war;
    src: url(./styly/The\ Second\ World\ War.ttf);
}

h1 {
    text-align: center;
    font-size: 5em;
    font-family: war;
    color:black;
    margin-top:3%
}

h2 {
    text-align: center;
    font-size: 4em;
    font-family: war;
    color:black;
    margin-top: 4%;
}

h1,h2 {
    border: 5px;
    color: rgb(36, 20, 20);
    border:solid;
    margin-left: auto;

}

body {
    background: url(./img/abstract-army-camouflage-seamless-pattern-free-vector.webp);
    background-repeat: repeat;
    color:white;
    
}



.obsah {
    margin-left:10%;
    margin-right: 10%;
    margin-top: 8%;
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


img {
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
    display:block;
    border: 7px;
    border:solid;
    color:rgb(36, 20, 20)
}


.gameplay {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10em;

}

a {
    margin-top: 10%;
    text-decoration: none;
    color: white;
    font-size: 150%;
    border-style:solid;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;    
}

    a:hover {
        color: green;
    }


    .gg {
        margin-top: 6em;
    }

